:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very_Dark_Blue: hsl(234, 12%, 34%);
  --Grayish_Blue: hsl(229, 6%, 66%);
  --Very_Light_Gray: hsl(0, 0%, 98%);

  --font_200: 200;
  --font_400: 400;
  --font_700: 700;
  font-family: 'Poppins';
}

html {
  font-family: 'Poppins';
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for background images in body */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Very_Light_Gray);
  position: relative;
}

.attribution{
  position: absolute;
  bottom: 1rem;
}

/*-------------------------TOP ARTICLE---------------------------------*/
.paragraph {
  position: absolute;
  text-align: center;
  top: 10%;
  width: 100%;
  display: block;
}

.paragraph h1 {
  color: var(--Very_Dark_Blue);
  font-weight: var(--font_700);
  font-size: 25px;
}

.paragraph span {
  font-weight: var(--font_200);
  color: var(--Grayish_Blue);
  font-size: 23.5px;
}

.paragraph p {
  color: var(--Grayish_Blue);
  font-size: 15px;
  font-weight: var(--font_400);
  margin-top: 10px;
  padding-bottom: 15px;
  width: 54%;
  margin-left: 22.5%;
  line-height: 20px;
}
/*---------------------------------------------------------------------*/

.containers {
  display: block;
  text-align: left;
  margin-top: 55rem;
  width: 55%;
}

/*--------------------SUPERVISOR------------------*/
.con1 {
  width: 100%;
  border-top: 5px solid var(--Cyan);
  border-radius: 5px;
  padding: 23px;
  box-shadow: 0 8px 10px -2px #888888;
  margin: 20px 20px 20px 0;
}

.con1 h2 {
  margin-bottom: 5px;
  color: var(--Very_Dark_Blue);
}

.con1 p {
  margin-bottom: 30px;
  color: var(--Grayish_Blue);
  font-size: 15px;
  line-height: 25px;
  width: 100%; /*eto sa desktop*/
}

.icons {
  text-align: right;
}
/*----------------------------------------------------*/

/*--------------------TEAM BUILDER------------------*/
.con2 {
  width: 100%;
  border-top: 5px solid var(--Red);
  border-radius: 5px;
  padding: 23px;
  box-shadow: 0 8px 10px -2px #888888;
  margin: 20px 20px 20px 0;
}

.con2 h2 {
  margin-bottom: 5px;
  color: var(--Very_Dark_Blue);
}

.con2 p {
  margin-bottom: 30px;
  color: var(--Grayish_Blue);
  font-size: 15px;
  line-height: 25px;
  width: 105%; /*eto sa desktop*/
}

.icons {
  text-align: right;
}
/*----------------------------------------------------*/

/*--------------------KARMA------------------*/
.con3 {
  width: 100%;
  border-top: 5px solid var(--Orange);
  border-radius: 5px;
  padding: 23px;
  box-shadow: 0 8px 10px -2px #888888;
  margin: 20px 20px 20px 0;
}

.con3 h2 {
  margin-bottom: 5px;
  color: var(--Very_Dark_Blue);
}

.con3 p {
  margin-bottom: 30px;
  color: var(--Grayish_Blue);
  font-size: 15px;
  line-height: 25px;
  width: 100%; /*eto sa desktop*/
}

.icons {
  text-align: right;
}
/*----------------------------------------------------*/

/*--------------------CALCULATOR------------------*/
.con4 {
  width: 100%;
  border-top: 5px solid var(--Blue);
  border-radius: 5px;
  padding: 23px;
  box-shadow: 0 8px 10px -2px #888888;
  margin: 20px 20px 20px 0;
}

.con4 h2 {
  margin-bottom: 5px;
  color: var(--Very_Dark_Blue);
}

.con4 p {
  margin-bottom: 30px;
  color: var(--Grayish_Blue);
  font-size: 15px;
  line-height: 25px;
  width: 100%; /*eto sa desktop*/
}

.icons {
  text-align: right;
}
/*----------------------------------------------------*/

/*--------------------------------------------------------------*/
/*for mobile*/
@media only screen and (max-width: 375px) {
  .paragraph p {
    width: 54%;
  }
}

/*for desktop*/
@media only screen and (min-width: 992px) {
  .paragraph p{
    width: 33%;
    margin-left: 33.2%;
  }

  .containers {
    display: flex;
    width: 100%;
    margin-top: 50px;
    border: 1px solid black;
  }

  .con1 p {
    width: 75%;
  }
  .con2 p {
    width: 80%;
  }
  .con3 p {
    width: 85%;
  }
  .con4 p {
    width: 85%;
  }
}
